header{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 55px;
	text-align: center;
}

#name{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 55px;
	text-align: center;
	margin:0;
	padding: 0;
}

#subtext{
	margin-top: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	text-align: center;
}

ul{
	text-align:center;
	margin:0;
}

#schooling{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
	text-indent: 40px;
	
}

#schoolTitle{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
	color: red;
	text-indent:20px;
}

nav{
	font-family:'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 17px;
	letter-spacing: 3px;
	text-align:center;
	padding:2px;	
}

footer{
	
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 14px;
	text-align:center;
	background-color: #e6e6e6;
	bottom:0;
	position: fixed;
	width: 100%;
}

div{
	position:relative;
	padding:5px;
	text-align:center;	
}

h2{
	text-transform: uppercase;
	font-size: 13px;
	text-align:center;	
}

h4{
	text-transform: uppercase;
	font-size: 10px;
	text-align:center;	
	
}




li{
	display:table;
    margin:0px auto 0px auto;
}

